<ion-view view-title="Add product">
  <ion-content class="padding" >
    <h2 style="text-align: center">
      Thanks for helping the community
    </h2>
    <h4 style="text-align: center">
      Once this product will be saved, it will help many other people
    </h4>
    <div style="margin-top: 20px">
      In order to do this, please take 2 pics:
    </div>
    <div>
      <div>1) Of the product itself</div>
      <div>2) Of the Ingredients</div>
    </div>

    <div style="text-align: center; margin-top: 40px">
      <button class="button button-positive" ng-click="takePics()" style="min-width: 80px;">Take image of the ingredients </button>
    </div>
  </ion-content>
</ion-view>
