<ion-view title="Welcome" id="register-page">
  <ion-content padding="true" class="has-header">
    <div class="register-header">
      <img ng-src="img/logo.png" style="
    display: flex;
    justify-content: center;
    margin: 5% 10%;
height: 100px"/>
    </div>
    <form class="list">
      <ion-list>
        <label class="item item-input">
          <span class="input-label">Name</span>
          <input type="text" placeholder="" name="name" ng-model="user.name">
        </label>
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" placeholder="" name="email"  ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Date of birth</span>
          <input type="date" placeholder="" name="dob"  ng-model="user.dob">
        </label>
        <label class="item item-input" radio-group>
          <span class="input-label">Gender</span>
          <ion-radio ng-value="'male'"
                     ng-model="user.gender" style="width:33.5%;white-space: nowrap; overflow: visible;text-align: center">
            <span>M</span>
            <!--<i style="margin-left: 15px" class="icon ion-man"></i>-->
          </ion-radio>
          <ion-radio ng-value="'female'"
                     ng-model="user.gender" style="width:33.5%;white-space: nowrap; overflow: visible;text-align: center">
            <span>F</span>
            <!--<i style="margin-left: 15px" class="icon ion-woman"></i>-->
          </ion-radio>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input ng-change="analyze(user.password)" type="password" placeholder="" name="password" ng-model="user.password">
          <div style="
                position: relative;
                right: 15px;
                font-size: x-large;
                "
               class="{{passwordQuality}}">
          </div>
        </label>
      </ion-list>
      <a ng-disabled="isDisabled" ng-click="signup()" id="register-button3" class="button button-stable  button-block">Sign up for TypeIV</a>
      <a ui-sref="login" id="register-button4" class="button button-positive  button-block button-clear">Already have an account</a>
      <div ng-show="isError" class="login-problem-message">{{errorMessage}}</div>
    </form>
  </ion-content>
</ion-view>
