<ion-view view-title="Details">
  <ion-content class="padding" id="product-details-content">
    <div ng-show="isLoading" class="spinner-container" style="height: 100%">
      <ion-spinner  icon="lines"></ion-spinner>
    </div>
    <div ng-show="!isLoading" class="product-container">

      <div ng-show="noProductFound " class="no-product-found">
        Sorry, we didn't find any product in our data base <br/><br/><b>{{product.barcode_id}}</b>
      </div>

      <div ng-show="isNeedToConfrim && !noProductFound" class="product-confirm-container">
        <h4>{{product.name}}</h4>
        <div class="image-container" style="display: inline-flex" zoom-src="{{product.image_url}}" zoom-view>
          <img ng-src="{{product.image_url}}" style="max-height: 120px">
          <div class="icon ion-ios-search-strong"></div>
        </div>
        <div class="question-container">
          <div>Is it the product?</div>
        </div>
        <div class="confirm-reject-button">
           <button class="button button-assertive" ng-click="reject()" style="min-width: 80px;">Reject</button>
          <button class="button button-positive" ng-click="confirm()" style="min-width: 80px;">Confirm</button>
        </div>
      </div>

      <div ng-show="!isNeedToConfrim" class="product-details-container">
        <div class="product-metadata-container">
          <img ng-src="{{product.image_url}}" zoom-src="{{product.image_url}}" zoom-view style="max-height: 150px">
          <div class="metadata-item">
            <div>{{product.name}}</div>
            <div><b>Category: </b>{{product.category}}</div>
          </div>
        </div>
        <div class="ingredients-container">
            <div><b>Ingredients:</b></div>
            <div class="ingredients">
              <div class="ingredient-item" ng-repeat="ingredient in product.ingredient_analysis">{{ingredient.name}} - {{ingredient.analysis}}</div>
            </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
