<ion-view view-title="Home" id="home-view">

  <ion-content class="padding" content scroll="false">
    <div
      style="
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 3%">
      <img ng-click="scanBarcode()" ng-src="img/scan_img.png" height="170" width="170"/>
      <div style="margin-top:10px">Press the barcode to start scanning </div>
    </div>
    <div class="item item-divider">
      Last products
    </div>
    <div style="
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;">

      <div class="list last-products-container">
        <ion-content>
          <a ng-if="search.name && search.image_url" class="item item-thumbnail-left" ng-repeat="search in user.searches | orderBy:'-'"
             href="#/tab/home/product/{{search.barcode_id}}?from_history=true">
            <img err-src='/img/no_image.png' ng-src="{{search.image_url}}">
            <h2>{{search.name}}</h2>
            <p>{{search.scraped_time | date}}</p>
          </a>
        </ion-content>
        <div></div>
      </div>
    </div>
</ion-view>
