/* Empty. Add your own CSS if you like */


/*Product details design*/
#product-details-content .spinner-container{
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}

#product-details-content .spinner svg {
  width: 88px;
  height: 88px;
  stroke: #444;
  fill: #444;
}

#product-details-content .product-container{
  /*display: flex;*/
  /*flex-direction: column;*/
  /*align-items: center;*/
}

#product-details-content .product-container .no-product-found{
  font-size: 20px;
  text-align: center;
  margin-top: 10%;
}

#product-details-content .product-container .product-confirm-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-details-content .product-container .product-confirm-container h4{
  text-align: center;
}

#product-details-content .product-container .product-confirm-container .question-container{
  margin-top: 6%;
}
#product-details-content .product-container .product-confirm-container .confirm-reject-button {
  display: flex;
  justify-content: space-around;
  margin-top: 4%;
  width: 70%;
}




#product-details-content .product-container .product-details-container{
  display: flex;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
}

#product-details-content .product-container .product-details-container{

}

#product-details-content .product-container .product-details-container .product-metadata-container{
  display: flex;
  align-items: center;
}

#product-details-content .product-container .product-details-container .ingredients-container {
  margin-top:2% ;
}

#product-details-content .product-container .product-details-container .ingredients {
  display: flex;
  flex-direction: column;
}

#product-details-content .product-container .product-details-container .ingredients .not-safe-ingredient{
  color:red;
  font-weight: bold;
}

#product-details-content .product-container .product-details-container .ingredients .safe-ingredient{
  color:green;
}

#product-details-content .product-container .product-details-container .ingredients .unknown-ingredient{
  color:orange;
}





/*Login page*/
#login-page .login-problem-message{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color:red;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid;
}


/*Register page*/
#register-page .login-problem-message{
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color:red;
  margin-left: 10px;
  margin-right: 10px;
  border: 1px solid;
}


/*Allergies*/
#allergies-view .search-field{
  width: 100%;
}

#allergies-view input{
  width: 100%;
  border: 1px solid lightgray;
  padding-left: 10px;
  padding-right: 10px;
}

#allergies-view .angucomplete-dropdown{
  width: 100%;
}

#allergies-view .highlight {
  color: #ff0000;
}



/*Home*/
#home-view .last-products-container{
  width: 100%;
  height: 59%;
}

/*Fix image proportion*/
#home-view .last-products-container img{
  width: auto !important;
  height: auto !important;
}

.platform-android #home-view .last-products-container{
  height: 55% !important;
}

.platform-android .bar-subheader.has-tabs-top{
  top:93px !important;
}

.platform-android .has-subheader.has-tabs-top{
  top:137px;
}


